#myNavbar{
    position: fixed;
}

#marqueeStyle {
    font-size: 30px;
    color: aqua;
}

iframe {
    height: 600px;
    width: 1000px;
}

body {
    text-align: center;
    scroll-behavior: smooth;
}

.text-capitalize {
    color: blueviolet;
}

.D {
    color: blueviolet;
}

.campus_mainSpan {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.campus_mainSpan img {
    width: 700px;
}

#achievmentsID {
    padding-bottom: 10px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}
.movie_text span{
    color: #ff7700;
}
